#Chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    width: 640px;
    height: 640px;
}

#Chessboard .square {
    position: relative;
    display: grid;
    place-content: center;
    width: 80px;
    height: 80px;
}