#Chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    width: 640px;
    height: 640px;
}

#Chessboard .square {
    position: relative;
    display: grid;
    place-content: center;
    width: 80px;
    height: 80px;
}

#pawn-promotion.nullified {
    display: none;
}

#pawn-promotion {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
}

#pawn-promotion > .modal-body {
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 160px);
    height: 150px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
   
}

#pawn-promotion > .modal-body > img:hover {
    background-color: rgba(255, 255, 255, 0.3);
    height: 100px;
    width: 100px;
    padding: 5px;
    border-radius: 50%;
}